<!-- 
  See router.js. A subscription to all (allowed) projects in the db is made when the
  /projects route is called and this template is rendered using the result of 
  that query/subscription.
  The data changes live in response to any data changes in the db and in response to pagination.
-->
<template name="projects">
  <div class="three column row">
    <!-- Search filter -->
    <div class="five wide column">
      <div class="ui icon input project-filter">
        <input id="projectFilter"  type="text" placeholder="Search for a project">
        <i class="search icon"></i>
      </div>
    </div>
    <!-- Text giving a count of projects -->
    <div class="six wide column">
      <div class="project count centered">{{countOfProjects}}</div>
    </div>
    <!-- Delete button -->
    <div class="five wide column">
      <div class="ui teal button floated right goto-newproject">Create New Project</div>
    </div>
  </div>
  <!-- One row for each project -->
  {{#each projects}}
    <div class="one column row">
      <div class="column">
        <div class="ui list">
          {{> projectItem }}
        </div>
      </div>
    </div>
  {{/each}}
  <!-- Pagination -->
  <div class="one column row">
    <div class="column">
      <div class="{{isPaginationVisible}} ui pagination menu">
        <a class="{{isLeftArrowDisabled}} left pagination arrow item">
          <i class="left arrow icon"></i>
        </a>
        {{#each paginationItems }}
          {{> paginationItem }}
        {{/each}}
        <a class="{{isRightArrowDisabled}} right pagination arrow item">
          <i class="right arrow icon"></i>
        </a>
      </div>
    </div>
  </div>  
</template>


<template name="paginationItem">
  <a class="{{pageActive}} pagination number small item">{{getPage}}</a>
</template>

<template name="projectItem">
  <div class="project item">
    <div class="right floated tiny remove project ui button">Delete</div>
    {{#if isIncomplete}}
      <i class="project warning icon"></i>
    {{/if}}
    <div class="content">
      <div class="project header"><a class="project title" href="{{pathFor "services"}}">{{name}}</a></div>
      <div class="project description">{{description}}</div>
      <!-- <span class="project created">Created {{dateAgo created}}</span> -->
    </div>
  </div>
</template>

