<!-- 
  See router.js. A subscription to the specific record in the db is made when this 
  /project/ID route is called and this template is rendered using the result of 
  that query/subscription.
  The data changes live in response to any data changes in the db.
-->
<template name="project">
  {{#with project}}
  <div class="one column row">
    <div class="column">
      <span class="centered project name">{{name}}</span>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <a class="ui huge basic centered button" href="{{pathFor "questionnaire"}}">Questionnaire</a>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <a class="ui huge basic centered button" href="{{pathFor "services"}}">Services</a>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <h5><a href="#" class="delete">Delete</a></h5>
    </div>
  </div>
  {{/with}}
</template>