
<template name="project">
  <div class="application wrapper">

    <div class="header">
      <div class="ui grid">
        {{>yield region='header'}}
      </div>
    </div>
    <div class="content-wrapper">
      {{#with project}}
        <!-- Header row -->
        <div class="one column row">
          <div class="column">
            <h2 class="ui centered block header">Project: {{name}}</h2>
          </div>
        </div>

        <div class="one column row first-row">
          <div class="column">
            <div class="ui centered tabular menu">
              <a class="{{servicesMenuActive}} project menu item" href="{{pathFor "services"}}">
                <i class="tablet icon"></i> Services ({{serviceCount}})
              </a>
              <a class="{{questionnaireMenuActive}} project menu item" href="{{pathFor "questionnaire"}}">
                <i class="pencil icon"></i> Questionnaire ({{questionnaireCount}})
              </a>
              <a class="{{collaboratorsMenuActive}} project menu item" href="{{pathFor "collaborators"}}">
                <i class="lock icon"></i> Collaborators ({{collaboratorCount}})
              </a>
            </div>
          </div>
        </div>

        <div class="ui grid">
          {{> yield}}
        </div>

<!--         <div class="one column row">
          <div class="column">
            <div class="ui delete project fluid basic button">Delete project</div>
          </div>
        </div> -->

      {{/with}}
    </div>
    <div class="push"></div>
  </div>  

  <div class="footer-wrapper">
    <div class="ui grid footer-grid">
      {{>yield region='footer'}}
    </div>
  </div>
</template>