
<template name="project">
  <div class="application wrapper">

    <div class="header">
      <div class="ui grid">
        {{>yield region='header'}}
      </div>
    </div>
    <div class="content-wrapper">
      {{#with project}}
        <!-- Header row -->
        <div class="ui stackable grid">
          <div class="eight wide column">
            <h2 class="ui block header">Project: {{name}}</h2>
          </div>
          <div class="eight wide column">
            <h2 class="ui block header page floated right">{{currentPage}}</h2>
          </div>          
        </div>

        <div class="ui divider"></div>

        <!-- Main content -->
        <!-- <div class="ui stackable grid"> -->

          <!-- Main layout body, services, colabs, questionnaires, etc. go here -->
          <!-- <div class="twelve wide column"> -->

            <div class="ui centered tabular menu">
              <a class="{{servicesMenuActive}} project menu item" href="{{pathFor "services"}}">
                <i class="tablet icon"></i> Services ({{serviceCount}})
              </a>
              <a class="{{questionnaireMenuActive}} project menu item" href="{{pathFor "questionnaire"}}">
                <i class="pencil icon"></i> Questionnaire ({{questionnaireCount}})
              </a>
              <a class="{{collaboratorsMenuActive}} project menu item" href="{{pathFor "collaborators"}}">
                <i class="lock icon"></i> Collaborators ({{collaboratorCount}})
              </a>
            </div>

            <div class="ui grid">
              {{> yield}}
            </div>
          <!-- </div> -->

          <!-- Sidebar area -->
          <!-- <div class="four wide column"> -->
<!--             <div class="ui grid">      
              <div class="one column row">
                <div class="column">
                  <div class="ui delete project fluid basic button">Delete project</div>
                </div>
              </div>
            </div> -->
          <!-- </div> -->

        <!-- </div> -->
      {{/with}}
    </div>
    <div class="push"></div>
  </div>  

  <div class="footer-wrapper">
    <div class="ui grid footer-grid">
      {{>yield region='footer'}}
    </div>
  </div>
</template>