
<template name="collaborators">
  {{#with project}}
    <div class="one column row">
      <div class="column">
        <span class="collaborators title">{{titleText}}</span>
      </div>
    </div>

    <!-- List users with access -->
    <div class="one column row {{isFirstRow}}">
      <div class="column">
        <div class="ui collaborators list">
          {{> owner}}
          {{#each allCollaborators }}
            {{> collaborator }}
          {{/each}}
        </div>
      </div>
    </div>

    {{#if isOwner this}}
      <!-- Invite new user -->
      <div class="one column row">
        <div class="column">
          <div class="ui horizontal icon divider">
            <i class="add sign icon"></i>
          </div>
        </div>
      </div>

      <div class="one column row {{isFirstRow}}">
        <div class="column">
          <span class="title">{{inviteText}}</span>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui stackable grid">
            <div class="eight wide column">
              <div class="ui icon fluid input">
                <input class="invitee" type="text" placeholder="someone@example.com">
                <i class="add icon"></i>
              </div>
            </div>
            <div class="six wide column">
              <div class="ui basic invite button">Invite</div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/with}}
</template>

<template name="owner">
  {{#with owner}}
    <div class="item">
      <i class="ui user icon"></i>
      <div class="content">
        <div class="header">{{email}}</div>
        {{#if isOwner ..}}
          <div class="description">Owner (you)</div>
        {{else}}
          <div class="description">Owner</div>
        {{/if}}
      </div>
    </div>
  {{/with}}
</template>

<template name="collaborator">
  <div class="item">
    <i class="ui user icon"></i>
    {{#if isOwner ..}}
      <i class="red circular link remove collaborator icon right floated"></i>
    {{/if}}
    <div class="content">
      <div class="header">{{email}}</div>
      {{#if isYou ..}}
        <div class="description">Collaborator (you)</div>
      {{else}}
        <div class="description">Collaborator</div>
      {{/if}}
    </div>
  </div>
</template>
