<template name="services">
  {{#with project}}
    {{#if atLeastOneService}}
      <div class="one column row">
        <div class="column">
          <span class="centered project name">{{servicesTitle}}</span>
        </div>
      </div>
    {{/if}}
    {{#each allServices }}
      {{> serviceItem }}
    {{/each}}
    {{#if atLeastOneService}}
      <div class="one column row">
        <div class="column">
          <div class="ui horizontal icon divider">
            <i class="add sign icon"></i>
          </div>
        </div>
      </div>
    {{/if}}
    <div class="one column row">
      <div class="column">
        <span class="centered project name">Create New</span>
      </div>
    </div>
    <div class="one column row">
      <div class="column">
        <div class="ui form newservice" style="display: block;">
          <div class="field">
            <label>What is this query called?</label>
            <div class="ui centered labeled input">
              <input id="service-name" name="service-name" type="text" placeholder="Keep this short and simple">
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="ui two fields">

            <div class="field">
              <label>What type of response do you want?</label>
              <div class="ui service type selection dropdown">
                <input id="service-type" class="service type" type="hidden" name="service-type">
                <div class="default text">a Simple Yes/No</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item active" data-value="boolean">Simple Yes/No</div>
                  <div class="item" data-value="list">A choice from a list of options</div>
                  <div class="item" data-value="number">They should enter a number</div>
                  <div class="item" data-value="text">Some text</div>
                </div>
              </div>
            </div>

            <div class="field service example control list">
              <label>Add some options:</label>
              <div class="ui action input">
                <input id="option-text" type="text" placeholder="Enter option name">
                <div class="ui button add example option">Add</div>
              </div>
            </div>
          </div>
          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>
        </div>
      </div>
    </div>
    <div class="one column row">
      <div class="column">
        <div class="service type example">
          <div class="ui segment">
            <div class="ui ribbon label">Example</div>
            <span class="service example thetext">Enter a name for the service above</span>
            <span class="service example controls">
              <span class="service example control boolean" style="display:none">
                <div class="ui large buttons">
                  <div class="ui green button">Yes</div>
                  <div class="or"></div>
                  <div class="ui red button">No</div>
                </div>
              </span>
              <span class="example service control list" style="display:none">
                <div class="ui example service list selection dropdown">
                  <div class="default text">Add options above</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                  </div>
                </div>            
              </span>
              <span class="service example control text" style="display:none">
                <div class="ui input">
                  <input type="text">
                </div> 
              </span>
              <span class="service example control number" style="display:none">
                <div class="ui input">
                  <input type="numder">
                </div> 
              </span>
            </span>
          </div>
        </div>    
      </div>
    </div>

    <div class="one column row">
      <div class="column">
        <div class="ui service create service button centered">Create</div>
      </div>
    </div>
  {{/with}}
</template>

<template name="serviceItem">
  <div class="one column row">
    <div class="column">
      {{#if isBooleanActive}}
        <div class="service type boolean">
          <div class="ui segment">
            <div class="ui ribbon label">Display only</div>
            <span class="service text">{{name}}</span>
            <div class="ui large buttons display-control">
              <div class="ui green button">Yes</div>
              <div class="or"></div>
              <div class="ui red button">No</div>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if isListActive}}
        <div class="service type list">
          <div class="ui segment">
            <div class="ui ribbon label">Display only</div>
            <span class="service text">{{name}}</span>
            <div class="ui service list selection dropdown display-control">
              <div class="default text">{{firstOption}}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
              {{#each getOptions}}
                {{> option}}
              {{/each}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if isTextActive}}
        <div class="service type text">
          <div class="ui segment">
            <div class="ui ribbon label">Display only</div>
            <span class="service text">{{name}}</span>
              <div class="ui input display-control">
                <input type="text">
              </div> 
          </div>
        </div>
      {{/if}}
      {{#if isNumberActive}}
        <div class="service type number">
          <div class="ui segment">
            <div class="ui ribbon label">Display only</div>
            <span class="service number">{{name}}</span>
              <div class="ui input display-control">
                <input type="number">
              </div> 
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="option">
  <div class="item">{{this}}</div>
</template>

